*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    background: #30336b;;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f4f4f4;
}
.main_div{
    width: 500px;
    height: 250px;
    border: 2px solid black;
}

h2{
    margin: 20px;
}
button{
    display: inline-block;
    background:#f8b627;
    color:#f4f4f4;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    border-radius: 3px;
    transition: 400ms;
    text-decoration: none;
    padding: 10px;
    margin: 20px;
    z-index: 100000;
    cursor: pointer;
}
h2{
    color: #f8b627;
}